.App {
  width: 600px;
  margin: 12px auto;
}

select.strings-dropdown {
  display: block;
  width: 400px;
  padding: 12px 2px;
  font-size: 16px;
}

.add-string button {
  margin-left: 6px;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 13px;
  color: white;
}

.add-string button.add-string-enabled {
  background-color: #337294;
}

.add-string button.add-string-disabled {
  background-color: red;
  text-decoration: line-through;
}

.results {
  width: 400px;
  min-height: 80px;
  margin: 40px 0 0 6px;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 14px;
}
